.header {
  margin: 20px;
  /* border: 1px solid black; */
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 660px) {
    .header {
        display: none;
    }
}

.logo {
  margin: 20px auto 20px 0px;
  display: block;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 8px;
  background-color: rgba(224, 7, 7, 1);
  color: white;
}

.navBtn {
    display: flex;
    gap: 8px;
    text-decoration: none;
    color: black;
    margin-bottom: 8px;
    border: 0px solid black;
    border-radius: 9999px;
    font-size: 20px;
    padding: 12px;
    width: min-content;
}

.navBtn:hover {
    background-color: rgba(15,20,25,0.1);
}

.navBtnIcon {
    margin: auto 0px;
    height: 26.25;
    width: 26.25;
}

@media screen and (max-width: 1280px) {
    .navItemText {
        display: none;
    }
}

.postBtn {
    border: 0px solid black;
    border-radius: 9999px;
    font-size: 20px;
    padding: 12px;
    background-color: rgba(224,7,7,1);
    text-align: center;
}

.postBtn:hover {
    background-color: rgba(156, 4, 4, 1);
    cursor: pointer;
}

.postLink {
    text-decoration: none;
    color: white;
}