.container {
  margin-top: 45px;
  width: 100%;
}

@media screen and (max-width: 660px) {
  .container {
    display: none;
  }
}

.infoCard {
  border: 1px solid #d3d3d3;
}

.infoCardContents {
  padding: 12px;
}

.starIcon {
  color: #fcba03;
  font-size: 1rem;
}

.price {
  color: green;
}
