.page-content {
  display: grid;
  grid-template-columns: 15% 85%;
  width: 60vw;
  margin: 0px auto;
}

@media screen and (max-width: 1280px) {
  .page-content {
    grid-template-columns: 12% 88%;
  }
}

@media screen and (max-width: 860px) {
  .page-content {
    width: 80%;
    display: flex;
  }
}

@media screen and (max-width: 660px) {
  .page-content {
    width: 100%;
  }
  /* .main {
    width: 100vw;
  } */
}
